service: serverless-vulnerability-scanner

frameworkVersion: '2'

custom:
  bucketPrefix: ${env:RESULTS_S3_BUCKET_PREFIX}
  stage: ${opt:stage, self:provider.stage}

provider:
  name: aws
  runtime: nodejs12.x
  deploymentBucket:
    blockPublicAccess: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:PutObject
        - s3:PutObjectAcl
      Resource: "arn:aws:s3:::${self:custom.bucketPrefix}-${self:custom.stage}/*"
  logRetentionInDays: 14
  memorySize: 256
  timeout: 300

package:
  exclude:
    - node_modules/aws-sdk/**

functions:
  scanOrg:
    handler: handler.scanOrg
    maximumRetryAttempts: 0
    environment:
      RESULTS_S3_BUCKET_PREFIX: ${self:custom.bucketPrefix}
      STAGE: ${self:custom.stage}
    events:
      - schedule:
          rate: cron(5 0 * * ? *)
          input:
            bitbucketUsername: ${env:BITBUCKET_USERNAME, ''}
            bitbucketAppPassword: ${env:BITBUCKET_APP_PASSWORD, ''}
            bitbucketWorkspace: ${env:BITBUCKET_WORKSPACE, ''}
            githubOrg: ${env:GITHUB_ORG, ''}
            githubToken: ${env:GITHUB_TOKEN}
            versionsCsvUrl: ${env:VERSIONS_CSV_URL, ''}

resources:
  Resources:
    ResultsS3Bucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.bucketPrefix}-${self:custom.stage}
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
